<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}About{% endblock %}

{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium">
      <i class="fas fa-question-circle"></i>
    </span>
    About Hermine
  </h1>
{% endblock %}

{% block content %}
  
  <h2>Objectives</h2>
  <p><a href="https://hermine-foss.org/">Hermine</a> is a Free and Open Source project to ease legal compliance with third party software included in your developements. It provides a framework to organize your interpretation of the different Open Source licenses and their application to the <abbr title="Software Bill Of Materials">SBOMs</abbr> of your software products.</p>
  <p>It is aimed to interface with and complement existing Open Source tools, like <a href="https://oss-review-toolkit.org/" target="_blank">OSS Review Toolkit.</a></p>

  <h2>The Third party components we directly rely on</h2>
  <p>Hermine is built on top of other great Open Source projects</p>

  <ul>
    <li>The <a href="https://www.djangoproject.com/">Django</a> python framework, published under the <a href="https://github.com/django/django/blob/main/LICENSE">BSD-3-Clause license</a>.</li>
    <li>The <a href="https://www.django-rest-framework.org/">Django REST framework</a>, published under the <a href="https://www.django-rest-framework.org/#license">BSD-3-Clause license</a>.</li>
    <li>The <a href="https://bulma.io/">Bulma CSS framework</a>, published under <a href="https://github.com/jgthms/bulma/blob/master/LICENSE">the MIT license</a>.</li>
    <li>JustBoil's <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard/">Admin One HTML — Bulma Admin Dashboard</a>, published under <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard/blob/master/LICENSE">the MIT license</a>.</li>
    <li>Aldi's <a href="https://github.com/aldi/bulma-login-template">Bulma login template</a>, published under <a href="https://github.com/aldi/bulma-login-template/blob/master/LICENSE">the MIT license</a>.</li>
  </ul>

<h2>The Open Standards we use</h2>
  <p>Hermine is built on top of other great Open Source projects</p>
  <ul><li><a href="https://github.com/package-url/purl-spec">Purl (package URL)</a></li>
    <li><a href="https://spdx.dev/">SPDX</a></li>
  </ul>



  <h2>Hermine's license</h2>
  <p><a href="https://gitlab.com/hermine-project/hermine">Hermine's code</a> is realeased under the GNU Affero General Public License v3.0</p>
  <p>The name "Hermine" is a Registered Trademark of the Hermine project.</p>

{% endblock %}
