<!--
SPDX-FileCopyrightText: Viktor Kuzhelny https://github.com/vikdiesel/admin-one-bulma-dashboard/
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>
SPDX-License-Identifier: MIT
-->
<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    {% load static %}
    <link rel="preload" href="{% static 'cube/css/main.min.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'cube/css/main.min.css' %}">
    <link rel="preload" href="{% static 'cube/css/fontawesome-free-all.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'cube/css/fontawesome-free-all.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}{% endblock %} - Hermine
    </title>
  </head>
  <body>
    <div id="app">
      <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
          <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
            <span class="icon">
              <i class="fas fa-bars">
              </i>
            </span>
          </a>
        </div>
        <div class="navbar-brand is-right">
          <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
            <span class="icon"><i class="fas fa-ellipsis-v"></i></span>
          </a>
        </div>
        <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="{% url 'admin:auth_user_change' user.id %}">
              <div class="is-user-avatar">
                <span class="icon"><i class="fas fa-user"></i></span>
              </div>
              <div class="is-user-name">
                <span>{%if user.first_name or user.last_name %}{{user.first_name}} {{user.last_name}}{%else%}{{user.username}}{%endif%}
                </span>
              </div>
            </a>
            <a title="Log out" class="navbar-item is-desktop-icon-only" href="{% url 'logout' %}">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
              <span>Log out</span>
            </a>
          </div>
        </div>
      </nav>
      <aside class="aside is-placed-left is-expanded">
        <div class="aside-tools">
          <div class="aside-tools-label">
            <span><b>Hermine</b></span>
          </div>
        </div>
        <div class="menu is-menu-main">
          <p class="menu-label">General</p>
          <ul class="menu-list">
            <li>
              <a href="/" class="has-icon">
                <span class="icon"><i class="fas fa-chart-pie"></i></span>
                <span class="menu-item-label">Dashboard</span>
              </a>
            </li>
          </ul>
          <p class="menu-label">Development</p>
          <ul class="menu-list">
            <li>
              <a class="has-icon has-dropdown-icon">
                <span class="icon"><i class="fas fa-cubes"></i></span>
                <span class="menu-item-label">Your products</span>
                <div class="dropdown-icon">
                  <span class="icon"><i class="fas fa-caret-right"></i></span>
                </div>
              </a>
              <ul>
                <li>
                  <a href="{% url 'cube:products' %}">
                    <span>All products</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'cube:categories' %}">
                    <span>Product categories</span>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a class="has-icon has-dropdown-icon">
                <span class="icon"><i class="fas fa-puzzle-piece"></i></span>
                <span class="menu-item-label">Components</span>
                <div class="dropdown-icon">
                  <span class="icon"><i class="fas fa-caret-right"></i></span>
                </div>
              </a>
              <ul>
                <li>
                  <a href="{% url 'cube:components' %}">
                    <span>Complete List</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'cube:populars' %}">
                    <span>Most used ones</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'cube:licensecurations' %}">
                    <span>Curations</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <p class="menu-label">Legal
          </p>
          <ul class="menu-list">
            <li>
              <a href="{% url 'cube:licenses' %}" class="has-icon">
                <span class="icon">
                  <i class="fas fa-balance-scale">
                  </i>
                </span>
                <span class="menu-item-label">Licenses
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:generics' %}" class=" has-icon">
                <span class="icon">
                  <i class="fas fa-award">
                  </i>
                </span>
                <span class="menu-item-label">Generic obligations
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:authorized_context_list' %}" class=" has-icon">
                <span class="icon">
                  <i class="fas fa-clipboard-check">
                  </i>
                </span>
                <span class="menu-item-label">Authorized contexts
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:derogations' %}" class=" has-icon">
                <span class="icon">
                  <i class="fas fa-clipboard-check">
                  </i>
                </span>
                <span class="menu-item-label">Derogations
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:licensechoices' %}" class=" has-icon">
                <span class="icon">
                  <i class="fas fa-project-diagram">
                  </i>
                </span>
                <span class="menu-item-label">License choices
                </span>
              </a>
            </li>
          </ul>
          <p class="menu-label">Tools
          </p>
          <ul class="menu-list">
            <li>
              <a href="/api-doc" class="has-icon">
                <span class="icon">
                  <i class="fas fa-database">
                  </i>
                </span>
                <span class="menu-item-label">API
                </span>
              </a>
            </li>
            <li>
              <a href="/admin" class="has-icon">
                <span class="icon">
                  <i class="fas fa-cogs">
                  </i>
                </span>
                <span class="menu-item-label">Django Admin
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'cube:about' %}" class="has-icon">
                <span class="icon">
                  <i class="far fa-question-circle">
                  </i>
                </span>
                <span class="menu-item-label">About
                </span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <section class="section is-title-bar">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              {% block breadcrumbs %}
              {% endblock %}
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              {% block actions %}
              {% endblock %}
            </div>
          </div>
        </div>
      </section>
      <section class="hero is-hero-bar is-small">
        <div class="hero-body">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                {% block herozone %}
                {% endblock %}
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                {% block infoitem %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-main-section content">
        {% block content %}
        {% endblock %}
      </section>
      <footer class="footer">
        <div class="container-fluid">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                © 2021, Hermine project contributors
              </div>
              <div class="level-item">
                <a href="https://gitlab.com/hermine-project/hermine" style="height: 20px">
                  <img src="https://user-content.gitlab-static.net/994540c19b90ea166003d560ed33d3d0a7db35d3/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c6963656e73652d4147504c5f76332d626c75652e737667">
                </a>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <div class="logo">
                  <a href="https://hermine-foss.org">
                    <img src="{% static 'cube/media/LogoHermine.svg' %}" alt="Hermine project Logo">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="{% static 'cube/js/main.js' %}">
    </script>
  </body>
</html>

