<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium">
      <i class="fas fa-chart-pie"></i>
    </span>
    Dashboard
  </h1>
{% endblock %}

{% block content %}
  <section class="section is-main-section">
    <h2>Welcome to Hermine.</h2>
    <p>Explore your products, choose your Open Source Policy, and know your obligations. </p>
    
    <h2>Development</h2>
    <div class="tile is-ancestor">

      <a href={% url 'cube:products' %}  class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  Your products 
                </h3>
                  <h1 class="title">
                    {{ nb_products }}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class="fas fa-cubes fa-2x"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      
      <a href={% url 'cube:products' %} class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label">
                  <h3 class="subtitle is-spaced">
                    Releases
                  </h3>
                  <h1 class="title">
                    {{ nb_releases }}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class="fas fa-code-branch fa-2x"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href={% url 'cube:components' %} class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label">
                  <h3 class="subtitle is-spaced">
                    Components (3rd parties)
                  </h3>
                  <h1 class="title">
                    {{ nb_components }}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-info is-large"><i
                    class="fas fa-puzzle-piece fa-2x"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <h2>Legal</h2>
    <div class="tile is-ancestor">

      <a href={% url 'cube:licenses' %} class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label">
                  <h3 class="subtitle is-spaced">
                    Licenses
                  </h3>
                  <h1 class="title">
                    {{ nb_licenses }}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                    class="fas fa-balance-scale fa-2x"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href={% url 'cube:generics' %} class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label">
                  <h3 class="subtitle is-spaced">
                    Generic obligations
                  </h3>
                  <h1 class="title">
                    {{ nb_generics }}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                    class="fas fa-award fa-2x"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
{% endblock %}

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="{% static 'cube/js/main.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'cube/js/chart.sample.min.js' %}"></script>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
