<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Licenses{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li>Licenses</li>
</ul>
{% endblock %}
{% block actions %}
<form class="import_licenses" id="import_licenses" enctype="multipart/form-data" action="{% url 'cube:licenses' %}" method="post">
  {% csrf_token %}
  <div class="field has-addons">
    <p class="control">
      <input class="input" name="file" type="file" placeholder="Your email">
    </p>
    <p class="control">
      <button class="button" value="Import JSON" type="submit"><span class="icon">
            <i class="fas fa-file-import"></i>
          </span>
          <span>Import</span></button>
    </p>
  </div>
</form>

<a class="button" href="/admin/cube/license/add/" target="_blank">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Create a new license</span>
          </a>

          <a href="{% url 'cube:export_licenses' %}" class="button">
            <span class="icon">
                <i class="fas fa-file-export"></i>
              </span>
              <span>Export</span>
          </a>
{% endblock %}
{% block herozone %}
<h1 class="title">
  <span class="icon is-medium">
  <i class="fas fa-balance-scale"></i>
  </span>
Licenses
</h1>
{% endblock %}
{% block content %}

{% include "cube/includes/list_nav.html" %}

  <div class="card has-table">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="fas fa-balance-scale"></i></span>
        <span> {{page_obj.paginator.count}} Licenses</span>
      </p>
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">


          <table class="table is-striped is-hoverable">
            <thead>
              <tr>
                <th>SPDX ID</th>
                <th>License name</th>
                <th>Policy status</th>
                <th># of obligations</th>
              </tr>
            </thead>
            <tbody>
              {% for license in licenses %}
                <tr>
                  <td><a href="{% url 'cube:license' license.id %}" >{{ license.spdx_id }}</a></td>
                  <td>
                    <a href="{% url 'cube:license' license.id %}" >{{ license.long_name }}</a></td>
                  <td>
                    <span class="tag {{ license | licenseAllowedCSS }}">
                        {{ license.get_allowed_display }}
                    </span>
                  </td>
                  <td>{% if license.allowed %}{{ license.obligation_set.all.count }} obligation{{ license.obligation_set.all.count|pluralize }}{% endif %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

{% include "cube/includes/list_nav.html" %}

  


{% endblock %}
