<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}
{% block title %}{{ form.usage.release.product.name }} {{ form.usage.release.release_number }}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' form.usage.release.product.id %}">{{ form.usage.release.product.name }}</a></li>
  <li><a href="{% url 'cube:release_validation' form.usage.release.id %}">{{ form.usage.release.release_number }}</a></li>
  <li>Add license curation</li>
</ul>
{% endblock %}
{% block content %}
  <form method="post" action="{% url "cube:release_licensecuration_create" form.usage.id %}">
    {% csrf_token %}
    <table>
      <tr>
        <th>Declared license at importation :</th>
        <td>{{ form.usage.version.declared_license_expr }}</td>
      </tr>
      {{ form }}
      <tr><th></th><td><input type="submit" value="Save"></td></tr>
    </table>
  </form>
{% endblock %}
