<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load rest_framework %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

{% block title %}{{ release.product.name }} {{release.release_number}}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' release.product.id %}">{{ release.product.name }}</a></li>
  <li>{{release.release_number}}</li>
  <li>Summary</li>
</ul>
{% endblock %}
{% block actions %}
<a class="button" href="{% url "cube:release_edit" release.id %}">
  <span class="icon">
    <i class="fas fa-edit"></i>
  </span>
  <span>Edit this release</span>
</a>
{% endblock %}
{% block herozone %}
<div class="hero-body">
  <p class="title">Release: {{release.release_number}}</p>
</div>
{% endblock %}
{% block content %}
  {% include "cube/includes/release_tabs.html" with active_tab="summary" %}

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="card tile is-child">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-info-circle"></i></span>
          Release details
        </p>
      </header>
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Status</label>
              <div class="control is-clearfix">
                <input type="text" readonly value="{{release.get_ship_status_display}}" class="input is-static">
              </div>
            </div>
            <div class="field">
              <label class="label">Reference commit</label>
              <div class="control is-clearfix">
                <input type="text" readonly value="{{release.commit}}" class="input is-static">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Publication date</label>
              <div class="control is-clearfix">
                <input type="text" readonly value="{{release.pub_date}}" class="input is-static">
              </div>
            </div>
            <div class="field">
              <label class="label">Validated steps</label>
              <div class="control is-clearfix">
                <input type="text" readonly value="{{ release.valid_step }}/5" class="input is-static">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="card tile is-child">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-sitemap"></i></span>
          Exploitation decisions for the different scopes of the release
        </p>
      </header>
      <div class="card-content">
        <table>
          <thead>
              <tr>
                <th>Sub project</th>
                <th>Scope</th>
                <th>Components</th>
                <th>Exploitation</th>
                <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              {% for scope in full_exploitations %}
                <tr>
                  <td>{{ scope.project }}</td>
                  <td>{{ scope.scope }}</td>
                  <td>{{ scope.count }}</td>
                  <td>
                    {% if scope.exploitation %}
                    {{ scope.exploitation }}
                    {% else %}
                    <span class="tag is-warning">No exploitation has been defined for this scope</span>
                    {% endif%}
                  </td>
                  <td>
                    {% if scope.exploitation %}
                    <a href="{% url 'cube:release_edit_exploitation' release.id scope.exploitation_id %}"><span class="icon"><i class="fas fa-edit"></i></span></a> |
                    <a href="{% url 'cube:release_delete_exploitation' release.id scope.exploitation_id %}"><span class="icon"><i class="fas fa-trash"></i></span></a>
                    {% else %}
                    <a href="{% url 'cube:release_exploitation_create' release.id %}?project={{scope.project}}&scope={{scope.scope}}"><span class="icon"><i class="fas fa-plus-circle"></i></span></a>
                    {% endif%}
                  </td>
                </tr>
              {% endfor %}
            <tr>
              <td><a href="{% url 'cube:release_exploitation_create' release.id %}" class="button is-primary">Create a new exploitation decision</a></td>
              <td></td>
            </tr>
          </tbody>
          </table>
      </div>
  </div>
</div>
{% endblock %}

